IDD_OPTION DIALOG DISCARDABLE  20, 40, 18, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION "OPTION"
BEGIN
	CONTROL "", 100, "msctls_trackbar32", TBS_VERT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 16, 100
END

